{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <h1 class="text-center mb-5">Account of {{fname}} {{lname}} </h1>

        {{form_start(form)}}

            <div class="">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
            <div class="">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div class="">
                <label for="edit_account_Phone">Phone</label>
                {{ form_widget(form.Phone) }}
                <div class="invalid-feedback">Please enter a valid Phone Number</div>
            </div>
            <div class="">
                {{ form_label(form.Address) }}
                {{ form_widget(form.Address) }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Modify</button>
        {{form_end(form)}}

    </div>

{% endblock %}
