{% extends 'base.html.twig' %}


{% block body %}

    <div class="container containerManage mb-5">

        <h1>Manage Categories : </h1>
        
        <div class="addProduct btnProduct mb-2">
            <a class="btn oneBtn btn-success" href="{{ path('create_category') }}">Add category</a>
        </div>

        <div class="editProduct btnProduct mb-2">
            <select name="categories" id="categories-select" class="btn oneBtn btn-primary" onchange="location = this.value;">
                <option value="">Modify category</option>
                {% for category in categories %}
                    <option value="{{ path('edit_category', {'id' : category.id}) }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        
        </div>
    
        <div class="removeProduct btnProduct mb-2">
            <select name="categories" id="categories-select" class="btn oneBtn btn-danger" onchange="location = this.value;">
                <option value="">Delete category</option>
                {% for category in categories %}
                    <option value="{{ path('remove_category', {'id' : category.id}) }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>


    </div>
{% endblock %}