{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">

        <h1> Créer produits </h1>
        
        {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_label(form.price)}}
                    {{ form_widget(form.price) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(form.image)}}
                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                    <img class="imgLoad" src="#">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_label(form.categories)}}
                    {{ form_widget(form.categories) }}
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3">Add Product</button>

        {{ form_end(form) }}
    </div>

{% endblock %}