{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="text-center mb-5"> Supprimer le produit : {{ product.name }}</h1>

        <div class="row">
            <div class="col">
                <h4>Name :</h4>
                <p> {{product.name}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Price :</h4>
                <p> {{product.price}} €</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Description :</h4>
                <p> {{product.description}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Image :</h4>
                <img src="/img/{{product.image}}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Categories :</h4>
                {% for category in categories %}
                    <p>{{category.name}}</p>
                {% endfor %}
            </div>
        </div>

        <a href="{{ path('remove_product', {'id' : product.id}) }}" class="btn btn-danger deleteButton">Delete</a>

    </div>

{% endblock %}