{% extends 'base.html.twig' %}
{% block body %}


    <div class="container containerOfPage">

        <div class="container mt-5">
            <img src="https://via.placeholder.com/250x250" alt="" style="border-radius : 50%">
        </div>

        <div class="jumbotron jumbotron-fluid mt-5">
            <h1 class="display-4">Page Home</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <hr class="my-5">
        </div>
        
        <div class="container mainContainer row">
            <div class="container mainContainerLeft col-md-8">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    {{product.name}}
                                </div>

                                <img src="{{product.image}}" alt="">
                                <div class="card-body text-center">
                                    {{product.description}} <br>
                                    
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('add_cart', { 'id' : product.id}) }}" class="btn btn-success">Add to cart</a>
                                    {{product.price}} €
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container mainContainerRight col-md-4">
                <div class="showCategory column">
                    {% for category in categories %}
                        <div class="text-center">
                            <p>{{ category.name }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="showCart">
                    <p>Cart</p>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
