{% extends 'base.html.twig' %}
{% block body %}


    <div class="container containerOfPage">

        <div class="container mt-5">
            <img src="https://via.placeholder.com/250x250" alt="" style="border-radius : 50%">
        </div>

        <div class="jumbotron jumbotron-fluid mt-5">
            <h1 class="display-4">Page Home</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <hr class="my-5">
        </div>
        
        <div class="container mainContainer">
            <div class="container mainContainerLeft">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-3">
                            <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    {{product.name}}
                                </div>

                                <img src="{{product.image}}" alt="">
                                <div class="card-body text-center">
                                    {{product.description}} <br>
                                    
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">Add to card</button>
                                    {{product.price}} €
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container mainContainerRight">
                <div class="showCategory column">
                    {% for category in categories %}
                        <div class="col-md-4">
                            {{ category.category }}
                        </div>
                    {% endfor %}
                </div>
                <div class="showCard">
                    <p>Card</p>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
